<ul class="alert alert-danger" *ngIf="errores.length>0">
  
    <li *ngFor="let err of errores">
        {{err}}
    </li>
  </ul>

<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
    <form #estudianteForm="ngForm">
      <div class="form-group row">
        <label for="codigo" class="col-form-label col-sm-2">Código</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" [(ngModel)]="estudiante.codigo" name="codigo" #codigo="ngModel" required>
            <div class="alert alert-danger" *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
                <div *ngIf="codigo.errors?.['required']">
                   El código es requerido
                </div>
              </div>
        </div>
    </div>
    <div class="form-group row">
      <label for="tipoIdentificacion" class="col-form-label col-sm-2">Tipo de identificación</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="estudiante.tipoIdentificacion" name="tipoIdentificacion" #tipoIdentificacion="ngModel" required>
      <div class="alert alert-danger" *ngIf="tipoIdentificacion.invalid && (tipoIdentificacion.dirty || tipoIdentificacion.touched)">
        <div *ngIf="tipoIdentificacion.errors?.['required']">
          Tipo de identificación requerido
        </div>
        <div *ngIf="tipoIdentificacion.errors?.['email']">
          Tipo de identificación requerido
        </div>
      </div>
  </div>
  </div>

        <div class="form-group row">
            <label for="nombres" class="col-form-label col-sm-2">Nombres</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="estudiante.nombres" name="nombres" #nombres="ngModel" required minlength="5" maxlength="45">
                <!--required minlength="5" maxlength="45"-->
                <div class="alert alert-danger" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                    <div *ngIf="nombres.errors?.['required']">
                      Los nombres son requeridos
                    </div> 
                    <div *ngIf="nombres.errors?.['minlength']">
                      Los nombres deben tener al menos 5 caracteres
                    </div>
                  </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="estudiante.apellidos" name="apellidos" #apellidos="ngModel" required minlength="5" maxlength="45">
            <!--required minlength="5" maxlength="45"-->
            <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
              <div *ngIf="apellidos.errors?.['required']">
                Los apellidos son requeridos
              </div>
              <div *ngIf="apellidos.errors?.['minlength']">
                Los apellidos deben tener al menos 5 caracteres
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-group row">
          <label for="correoInstitucional" class="col-form-label col-sm-2">Correo institucional</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" [(ngModel)]="estudiante.correoInstitucional" name="correoInstitucional" #correoInstitucional="ngModel" required email>
            <!--required email-->
          <div class="alert alert-danger" *ngIf="correoInstitucional.invalid && (correoInstitucional.dirty || correoInstitucional.touched)">
            <div *ngIf="correoInstitucional.errors?.['required']">
              Correo Institucional requerido
            </div>
            <div *ngIf="correoInstitucional.errors?.['email']">
              Formato de correo incorrecto
            </div>
          </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="telefono" class="col-form-label col-sm-2">Teléfono</label>
    <div class="col-sm-6">
      <input type="telefono" class="form-control" [(ngModel)]="estudiante.telefono" name="telefono" #telefono="ngModel" required>
      <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
        <div *ngIf="telefono.errors?.['required']">
          Telefono requerido
        </div>
      </div>
    </div>
  </div>
    <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='crearEstudiante()' *ngIf="!estudiante.id else elseBlock"
            [disabled]="!estudianteForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'
              [disabled]="!estudianteForm.form.valid">Editar</button>
            </ng-template>
        </div>
      </div>
    </form>
    </div>
    </div>