<div class="card">
    <div class="card-header"><h4>Estudiantes</h4></div>
    <div class="card-body">
      <h5 class="card-title">Listado de estudiantes</h5>
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-dark" type="button" [routerLink]="['/estudiante/form-estudiantes']">
          Crear Estudiante
        </button>
      </div>
      <div *ngIf="estudiantes?.length==0" class="alert alert-info" >
          No hay registros en la base de datos
      </div>
  
      <table class="table table-bordered table-striped" *ngIf="estudiantes.length>0">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo de documentación</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo Institucional</th>
                <th>Teléfono</th>
                <th colspan="2" style="text-align: center;">Acciones</th>
            </tr>
  
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>{{estudiante.codigo}}</td>
                <td>{{estudiante.tipoIdentificacion}}</td>
                <td>{{estudiante.nombres}}</td>
                <td>{{estudiante.apellidos}}</td>
                <td>{{estudiante.correoInstitucional}}</td>
                <td>{{estudiante.telefono}}</td>
                <td>
                  <button type="button" name="editar" class="btn btn-secondary" [routerLink]="['/estudiante/form-estudiantes',estudiante.id]">Editar</button>
                </td>
                <td>
                  <button style="margin-left: 10px;" type="button" (click)="eliminarEstudiante(estudiante)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
  
      </table>
    </div>
  </div>
